@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, hr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  /*cursor: none;*/
  position: relative;
  overflow-x: hidden;
  background-color: #000; }
  html .cursor, body .cursor {
    pointer-events: none; }
    html .cursor__ball, body .cursor__ball {
      position: absolute;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 1000; }
      html .cursor__ball circle, body .cursor__ball circle {
        fill: #f7f8fa; }
  @media (max-width: 1024px) {
    html, body {
      cursor: auto; }
      html .cursor, body .cursor {
        display: none; } }

body {
  min-width: 360px;
  width: 100%;
  font-size: 18px;
  color: #fff;
  line-height: 1;
  font-weight: 400;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  word-break: keep-all;
  box-sizing: border-box;
  padding-top: 100px; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }
  @media (max-width: 1024px) {
    body {
      padding-top: 80px;
      padding-bottom: 55px; } }
  body::selection {
    color: #7757FF;
    background-color: white; }
  body::-moz-selection {
    color: #7757FF;
    background-color: white; }

input, select, textarea {
  font-family: inherit;
  outline: none;
  resize: none; }

a, button {
  color: #fff;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #fff; }

.container {
  display: block;
  width: 100%;
  max-width: 1760px;
  padding: 0 15px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

/*# sourceMappingURL=sub2.css.map */
